@font-face {
  font-family: "Gotham Pro Light";
  src:  url("../fonts/GothamPro-Light.woff") format("woff"),
  font-weight: normal;
  font-style
   normal;
}

@font-face {
  font-family: "Gotham Pro Medium";
  src:  url("../fonts/GothamPro-Medium.woff") format("woff"),
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src:  url("../fonts/GothamPro.woff") format("woff"),
  font-weight: normal;
  font-style: normal;
}

*, *::after, *::before{
  box-sizing: border-box;
}

body {
  background-color: #292929;
  color: #fff;
  font-family: "Gotham Pro", sans-serif;
  margin: 0;
}

/* HEADER */

.header{
  padding-top: 50px;
}

.header-description{
  font-family: "Gotham Pro Light";
  letter-spacing: 0.12px;
  font-size: 12px;
}

.text-color-red{
  font-family: "Gotham Pro Medium";
  color: #ff3469;
}

.header-phone{
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  display: block;
  text-align: right; 
}

.header-info{
  font-size: 12px;
  font-weight: 400;
  margin-top: 7px;
  display: block;
  text-align: right;
}

.header-callback{
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  color: #ff3469;
  display: block;
  text-align: right;
  margin-top: 16px;
}

/* HERO */
.hero{
  padding-top: 100px;
  padding-bottom: 77px;
  border-bottom: 1px solid#4c4c4c;;
  text-align: center;
}

.flowers-slider{
  width: 100%;
  text-align: center;
  margin-top: 87px;
  margin-bottom: 67px;
}

:root {
    --swiper-navigation-size: 18px;
}

.hero-title{
  margin: auto;
  font-size: 34px;
  font-family: "Gotham Pro Medium";
  text-transform: uppercase;
  margin-bottom: 34px;
  letter-spacing: 0.34px;
  max-width: 650px;
}

.hero-description{
  font-family: "Gotham Pro Light";
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.18px;
  line-height: 1.4;
  max-width: 590px;
  margin: auto;
}

.hero-order{
  display: block;
  font-size: 19px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.19px;
}

.hero-button{
  margin-top: 36px;
  padding: 30px 65px;
  background-color: #ff2e55;
  color: #ffffff;
  font-size: 18px;
  font-family: "Gotham Pro Light";
  text-transform: uppercase;
  letter-spacing: 0.18px;
}

/* REVIEWS */

.reviews{
  padding-top: 100px;
  padding-bottom: 50px;
}

.reviews-title{
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.3px;
  margin-bottom: 98px;
  text-transform: uppercase;
}

.review-image{
  width: 220px;
  height: 220px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  font-size: 20px;
  font-family: "Gotham Pro Light";
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 50px;
}

.review-image::before{
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}

.review-slide{
  padding-right: 100px;
  padding-left: 100px;
}

.review-image > * {
  position: relative;
}

.review-image-1{
  background: url('../img/reviews/review-1.jpg')
}

.review-name{
  margin-bottom: 7px;
}

.review{
  letter-spacing: 0.18px;
  line-height: 1.4;
  font-size: 18px;
}

.review-link{
  color: #f24841;
  padding: 10px;
}

.advantages{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
  border-bottom: 1px solid#4c4c4c;
}

.advantages-wrapper{
  min-height: 85px;
  margin-bottom: 30px;
}

.advantages-title{
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
  max-width: 270px;
  margin: auto;
}

.goods{
  padding-top: 100px;
  padding-bottom: 100px;  
}

.goods-title{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  margin-bottom: 27px;
}

.text-red{
  color: #ff1844;
}

.goods-description{
  margin-top: 0;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.18px;
}

/* GOODS */
.card{
  text-align: center;
  border: 3px solid #ffffff;
  padding: 33px 35px 30px 35px;
  margin-top: 27px;
}

.card-title{
  margin-top: 23px;
  margin-bottom: 20px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

.card-label{
  font-size: 14px;
  display: block;
  margin-bottom: 7px;
  margin-top: 20px;
}

.color-label{
  width: 20px;
  height: 20px;
}

.color-input{
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -9;
}

.color-label.white{
  background-color: #ffffff;
}

.color-label.beige{
  background-color: #f7b496;
}

.color-label.red{
background-color: #ff0000;
}

.color-label.blue{
  background-color: #12129d;
}

.color-label.pink{
  background-color: #ed366e;
}

.counter-input{
  width: 40px;
  height: 40px;
  border: 2px solid #ffffff;
  background-color: #292929;
  color: #ffffff;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}

.counter-button{
  width: 40px;
  height: 40px;
  color: #ffffff;
  background-color: #292929;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.card-button{
  font-size: 14px;
  width: 100%;
  padding: 16px 10px 13px 10px;
}

.more{
  display: block;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.14px;
  color: #f24841;
  margin-top: 39px;
  padding: 10px;
}

.more::after{
  content: '';
  display: inline-block;
  background: url('../img/caret.svg') no-repeat center;
  margin-left: 14px;
  vertical-align: middle;
  width: 10px;
  height: 4px;
}

/* OFFER */
.offer{
  padding-top: 100px;
  padding-bottom: 84px;
  text-align: center;
  background-color: #1a1a1a;
}

.offer-order{
  color: #ffffff;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  display: block;
}

.offer-label{
  font-size: 14px;
  display: block;
  margin-top: 65px;
}

.offer-call{
  font-size: 36px;
  letter-spacing: 0.36px;
  color: #ffffff;
  text-decoration: none;
}

/* FOOTER */
.footer-list{
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 33px;
}

.footer-item{
  margin-right: 30px;
}

.footer-item-link{
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.social{
  font-size: 16px;
}

.footer-label{
  display: block;
  font-size: 14px;
  margin-bottom: 12px;
}

.footer-right{
  text-align: right;
}

.footer-phone{
  font-size: 24px;
  text-decoration: none;
  display: block;
  margin-bottom: 11px;
  color: #ffffff;
}

.last{
  background-color: #ffffff;
  padding-top: 48px;
  padding-bottom: 45px;
}

.footer-description{
  color: #292929;
}

.last-section{
  align-items: center;
}

.portfolio-link{
  color: #292929;
}

.modal{
  display: none;
}

.modal-title{
  color: #292929;
  text-align: center;
}

.modal-input{
  display: block;
  width: 100%;
  font-size: 18px;
}

.modal-button{
  width: 100%;
  padding: 10px 20px;
}

/* MEDIA REQUESTS */
@media(max-width: 768px){
  .header, .header-contacts > *{
    text-align: center;
  }

  .hero{
    padding-top: 50px;
  }

  .hero-title{
    font-size: 24px;
  }

  .hero-description{
    font-size: 16px;
    line-height: 1.6;
  }

  .flowers-slider{
    margin-top: 40px;
    line-height: 1.6;
  }

  .button{
    padding: 20px 40px;
  }

  .colors{
    max-width: 200px;
    margin: auto;
  }

  .card-label{
    margin: 20px auto;
  }

  .footer, .footer-right{
    text-align: center;
  }
}

@media(max-width: 576px){
  
}